/* CSS declarations go here */

.start {
	color:white;
	padding:5px;
	border-radius:3px;
	font-family: arial;
	font-style: bold;
	width:30%;
	margin:2px;
}

.sec3 {
	background-color:#22AA33;
}

.min5 {
	background-color:#AA7700;
}

.min25 {
	background-color:#AA2233;
}