.empireSection {
    background-color: rgba(255, 230, 200, .2);
    margin-bottom:20px;
    padding:8px 8px 12px 8px;
    text-align: left;
    font-size:12px;
}



.buildHut {
  opacity:1;
  background-color: rgba(255, 230, 200, .5);
  padding:5px;
}

.buildHut.notEnough {
  opacity:.5;
}

.characterNameLabel {
	font-size:10px;
	opacity:.5;
}
#characterName {
	font-size:14px;
	font-weight:900;
  padding-bottom:5px;
}

#empireMessages {
    white-space:pre-line;
    word-wrap:break-word;
    font-style:italic;
    color:#BBBCAA;
    position:relative;
    top:-50px;
}

.fade {
   opacity: 1;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
}

.craftslot {
  margin:2px;
  width:42px;
  height:42px;
  position: relative;
  left:-15px;
  float:right;
  border: 1px solid white;
}
